<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!-- <add key="server" value="towel.blinkenlights.nl" /> -->
    <add key="server" value="localhost" />
    <add key="port" value="23" />
    <!-- list of possible encodings at http://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx -->
    <add key="encoding" value="windows-1252" />
    <!-- altencoding is the encoding to use between ascii ShiftOut (0x0E) and ShiftIn (0x0F) -->
    <add key="altencoding" value="ibm437" />
    <add key="termtype" value="vt100" />
    <add key="loginPrompt" value="login: " />
    <add key="login" value="username" />
    <add key="passwordPrompt" value="Password: " />
    <add key="password" value="p@ssw0rd" />
  </appSettings>
</configuration>